<html>
<head>
    <title> Node Security</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" integrity="sha384-l9M6Adwf4b8uYw86eNILi6yzN7Zf4VoTPpB88nLLXbZ11ybFDaLcd/a2MU1EZXyK" crossorigin="anonymous">
</head>
<body class="content">
{{#if user}}
    <a href="/logout">Logout</a>
{{else}}
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/auth">Login with Github</a>
{{/if}}
{{{body}}}
</body>
</html>