<html>
<head>
    <title> Node Security</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" >
</head>
<body class="content">
{{#if user}}
    <a href="/logout">Logout</a>
{{else}}
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
{{/if}}
{{{body}}}
</body>
</html>