{{#if error}}
    <h2>Try again, {{error}}</h2>
{{/if}}
<form method="post" action="/login">
    Username: <input name="username"> <br>
    Password: <input type="password" name="password"> <br>
    <input type="submit" value="Login">
</form>