<h2>HTML form</h2>
{{#if error}}
    <h2 class="registration-error">{{error}}</h2>
{{/if}}
<form method="post" action="/register">
    Username: <input name="username" placeholder="email@example.com"> <br>
    Password: <input type="password" name="password"> <br>
    <input type="submit" value="Register">
</form>
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="register.js"></script>