<h2>HTML form</h2>
{{#if error}}
    <h2 class="registration-error">{{error}}</h2>
    <p class="registration-hint">{{hint}}</p>
{{/if}}
<form method="post" action="/register">
    Username: <input name="username" placeholder="email@example.com"> <br>
    Password: <input type="password" name="password"> <br>
    <input type="submit" value="Register">
</form>
<script>
    const jsForm = document.querySelector(".js-form");
    jsForm && jsForm.addEventListener("submit", function register(e) {
        e.preventDefault();
        fetch("/register", {
            method: "POST",
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                username: document.querySelector(".username").value,
                password: document.querySelector(".password").value
            })
        }).then(res => res.json()).then(json => document.querySelector(".registration-status").innerHTML = typeof json === "string" ? json : json.error);
    });
</script>
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
